table.ingestimator-table {
  thead {
    th {
      font-weight: 800;
      text-transform: none;
      background-color: #e8e8e8;
    }
  }
  tbody {
    td.right {
      text-align: right;
    }

    td.title {
      font-weight: 500;
    }

    tr.section {
      border-top: 1px solid #ddd
    }

    tr.detail {
      td {
        color: #888;
      }
    }

    tr.subTotal {
      border-top: 1px double #eee;
    }

    tr.grandTotal {
      border-top: 1px double #ccc;
      border-width: 3px;
      td {
        font-weight: 800;
        background-color: #e8e8e8;
      }
    }

  }
}

.notice {
  width: 90%;
  border: 1px solid #00F;
  background-color: #f0f8ff;
  padding: 12px;
  margin-bottom: 12px;


  h3,p {
    margin-bottom: 0.5em;
  }
}

.header {
  margin: 12px;
  display: flex;
  align-items: center;

  .spacer {
    flex-grow: 1
  }
}

.header > * {
  margin-right: 12px;
}

.border-top {
  border-top: 1px solid #ddd;
}