@import "../shared/styles.scss";

.loading {
  margin-top: 300px;
  width: 100%;
  p {
    text-align: center;
    margin: 1em;
  } 
}

.ingestimator {
  margin: 12px;

  .footer {
    margin: 12px;
    text-align: right;
  }
}

.details {
  margin: 12px;
}

.ingestimator-table {
  width: 100%;
}

.applications-table {
  margin: 12px;
  table {
    width: 100%;
  }
}

.about {
  margin: 12px;

  p {
    font-size: 14px;
  }
}