@import "../shared/styles.scss";

.loading {
  margin-top: 300px;
  width: 100%;
  p {
    text-align: center;
    margin: 1em;
  } 
}

.ingestimator {
  margin: 12px;

  .footer {
    margin-top: 12px;
    width: 100%;
  }
}